* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.visasPsl {
	width: 100%;
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
}

.krioklys {
	width: 100%;
	margin-top: 0px;
	position: relative;
	left: 0px;
	justify-content: center;

	
}

.virsus {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/pgr.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
}

.shade {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #5a9896;
	opacity: 0.3;
}
.title {
	position: relative;
    padding-bottom: 25%;
    text-align: center;
    padding-left: 25%;
}

h1 {
	text-align: center;
	color: white;
	font-size: 48px;
}

h5 {
	text-align: center;
	color: white;
	font-size: 20px;
}

h4 {
	text-align: center;
	color: white;
	font-size: 25px;
	position: absolute;
	padding-top: 105px;
    padding-left: 27%;
}

.h-linija {
	display: inline-block;
    width: 64px;
    bottom: 5px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    border-bottom: solid 1px white;
}


.brand-logoImg {
	margin: 10px;
}

.nav-color {
	background-color: #383232;
}

.navigacija {
	position: relative;
	background-size: cover;
}


body {
	margin: 0;
}


.contactsPuslapis {
	overflow: hidden;
}

.bg-photo {
	background-image: url(https://picsum.photos/1920/1080?image=1044);
	height: 100vh;
	background-size: cover;
	background-position: center center;
}

.content-wrapper {
	width: 100%;
	max-width: 1200px;
	padding-left: 32px;
	padding-right: 32px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

h2	{
	position: relative;
	text-align: center;
	margin-top: 32px;
	font-size: 32px;
	padding-bottom: 16px;
	color: #000040;
}

h2.h-white {
	color: #ffffff;
}

.h-white:hover {
	text-shadow: 2px 2px 5px black;
}	

.blocks-wrapper {
	display: flex;
	margin-top: 64px;
	margin-bottom: 32px;
}	

.blocks-wrapper .form-wrapper {
	width: 50%;
	padding-right: 16px; 
}

.blocks-wrapper .map-wrapper {
	width: 50%;
	padding-left: 16px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #515812;
	opacity: 0.3;
}

.input-field label {
     color: white;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
     color: white;
 }
   /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
 }
   /* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
}
   /* invalid color */
.input-field input[type=text].invalid {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
}
   /* icon prefix focus color */
.input-field .prefix.active {
     color: white;
}

.mapsVidus {
	list-style: none;
	display: flex;
}

.mapsVidus h6, p {
	color: white;
}


.mapsVidus li {
	margin: 0 16px 0 16px;
}

.footeris {
	background-color: #383232;
	overflow: hidden;
}


.footer-meniu {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}

.footer-meniu li {
	margin: 0 16px 0 16px;
}

.footer-meniu li a {
	text-transform: uppercase;
	font-size: 14px;
	color: white;
}

.footer-meniu li .footer-logo {
	vertical-align: middle;
}

.footer-logo {
	height: 45px;
	cursor: pointer;
	transition: 0.4s all;
}

.footer-logo:hover {
	height: 50px;
}

.social-links {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.social-links li {
	margin: 0 16px 0 16px;
}

.social-links li img {
	width: 40px;
}

.copyright {
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: white;
}

.judekitImg {
	cursor: pointer;
	transition: 0.4s all;
}

.judekitImg:hover {
	width: 45px;
}

.judekitNav {
	cursor: pointer;
	transition: 0.3s all;
}

.judekitNav:hover {
	border-bottom: solid;
	border-color: #73ddcd;
}