* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.visasPsl {
	width: 100%;
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
}

.krioklys {
	width: 100%;
	margin-top: 0px;
	position: relative;
	left: 0px;
	justify-content: center;

	
}

.virsus {
	position: relative;
	padding-top: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/pgr.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}

.fonas1 {
	position: relative;
		
	padding-top: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/fonas1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
}

.fonas2 {
	position: relative;
	
	padding-top: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/fonas2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
}

.fonas3 {
	position: relative;
	
	padding-top: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/fonas3.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
}

.fonas4 {
	position: relative;
	
	padding-top: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/fonas4.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
}

.pav14 {
padding-right: 0px;	
}

.shade {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #5a9896;
	opacity: 0.3;
}
.title {
	width: 60%;
	position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

h1 {
	text-align: center;
	color: white;
	font-size: 48px;
}

.since {
	text-align: center;
	color: white;
	font-size: 20px;
}

h4 {
	text-align: center;
	color: white;
	font-size: 25px;
}

.h-linija {
	display: inline-block;
    width: 64px;
    bottom: 5px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    border-bottom: solid 1px white;
}

.kuryba {
	text-align: center;
	color: white;
	font-size: 17px;
}

.h-linija2 {
	display: inline-block;
    width: 64px;
    bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    border-bottom: solid 1px white;
}

.arrow-down {
	height: 20px;
	cursor: pointer;
	transition: 0.5s all;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
}

.btn-floating {
	text-align: center;
	background-color: #ffab91;
	opacity: 0.3;
	
}

.burbuliukas {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.divider1 {
	background-color: #ffab91;
}

.divider2 {
	background-color: #91ffc2;
}
.divider3 {
	background-color: #2cb9c7;
}
.divider4 {
	background-color: #ffab91;
}
.brand-logoImg {
	margin: 10px;
}

.nav-color {
	background-color: #383232;
}

.navigacija {
	position: relative;
	background-size: cover;
}


body {
	margin: 0;
}


.contactsPuslapis {
	overflow: hidden;
}

.bg-photo {
	background-image: url(https://picsum.photos/1920/1080?image=1044);
	height: 100vh;
	background-size: cover;
	background-position: center center;
}

.content-wrapper {
	width: 100%;
	max-width: 1200px;
	padding-left: 32px;
	padding-right: 32px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

h2	{
	position: relative;
	text-align: center;
	margin-top: 32px;
	font-size: 32px;
	padding-bottom: 16px;
	color: #000040;
}

h2.h-white {
	color: #ffffff;
}
h6.h-white6 {
	color: #ffffff;
}

.h-white:hover {
	text-shadow: 2px 2px 5px black;
}	

.blocks-wrapper {
	display: flex;
	margin-top: 64px;
	margin-bottom: 32px;
}	

.blocks-wrapper .form-wrapper {
	width: 50%;
	padding-right: 16px; 
}

.blocks-wrapper .map-wrapper {
	width: 50%;
	padding-left: 16px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #515812;
	opacity: 0.3;
}

.input-field label {
     color: white;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
     color: white;
 }

.mapsVidus {
	list-style: none;
	display: flex;
}

.mapsVidus h6, p {
	color: white;
}


.mapsVidus li {
	margin: 0 16px 0 16px;
}

.footeris {
	background-color: #383232;
	overflow: hidden;
}


.footer-meniu {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}

.footer-meniu li {
	margin: 0 16px 0 16px;
}

.footer-meniu li a {
	text-transform: uppercase;
	font-size: 14px;
	color: white;
}

.footer-meniu li .footer-logo {
	vertical-align: middle;
}

.footer-logo {
	height: 45px;
	cursor: pointer;
	transition: 0.4s all;
}

.footer-logo:hover {
	height: 50px;
}

.social-links {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.social-links li {
	margin: 0 16px 0 16px;
}

.social-links li img {
	width: 40px;
}

.copyright {
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: white;
}

.judekitImg {
	cursor: pointer;
	transition: 0.4s all;
}

.judekitImg:hover {
	width: 45px;
}

.judekitNav {
	cursor: pointer;
	transition: 0.3s all;
}

.judekitNav:hover {
	border-bottom: solid;
	border-color: #73ddcd;
}

.find {
	font-weight: bold;
}

