* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.visasPsl {
	width: 100%;
	max-width: 1200px;
	padding-left: 32px;
	padding-right: 32px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.krioklys {
	width: 100%;
	margin-top: 0px;
	position: relative;
	left: 0px;
	justify-content: center;
}

.virsus {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 10px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.brand-logoImg {
	margin: 10px;
}

.nav-color {
	background-color: #383232;
}

.navigacija {
	position: relative;
	background-size: cover;
}


body {
	margin: 0;
}

.atsiliepimai {
	height: 100vh;
	background-image: url(https://picsum.photos/1920/1080?image=1044);
	background-size: cover;
	position: relative;
}

h3 {
	padding-top: 25px;
	margin: 0px;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: sans-serif;
	text-transform: uppercase;
}

.row {
	width: 50%;
	margin-left: 80px;
	color: white;
	margin-top: 50px;
}


.input-field label {
     color: white;
 }

.input-field input[type=text]:focus {
     border-bottom: 3px solid white;
     box-shadow: 0 1px 0 0 white;
 }